<h1>Profile Editor</h1>
<h2>User Information</h2>

<div *ngIf="!displayEdit">
<label>Name:</label> {{formUser.name}} <br>
<label>Age:</label> {{formUser.age}}<br>
<label>Favourite Color:</label> {{formUser.favouriteColor}}

</div>
<div *ngIf="displayEdit">
  <form (ngSubmit)="saveChanges()">
    <label for="name">Name</label>
    <input name="name" id="name" [(ngModel)]="newName"><br>
    <label for="age">Age</label>
    <input name="age" id="age" [(ngModel)]="newAge"><br>
    <label for="color">Favourte Color</label>
    <input name="color" id="color" [(ngModel)]="newColour"><br>
    
    <button type="submit">Save Changes </button>
    </form>
</div>
<br>
<button (click)="toggleEdit()">Toggle Edit</button>